.section-dark {
    .icons-container {
        color: $white-color;
    }
}
.info {
    .icon {
        margin-top: 0;
        font-size: 3.4em;
    }
}
.icon-primary {
    color: $primary-color;
}
.icon-info {
    color: $info-color;
}
.icon-success {
    color: $success-color;
}
.icon-warning {
    color: $warning-color;
}
.icon-danger {
    color: $danger-color;
}
.icon-neutral {
    color: $white-color;
}
